<ion-content class="internet">
  <div>
      <div class="item-avatar">
          <img class="img-circle" src="../../../assets/images/auto2.jpg" />
      </div>
      <div class="wifi">
          <ion-icon name="ios-wifi-outline"></ion-icon>
          <p>No Internet Connection</p>
      </div>
      <div class="nocon">
          <button ion-button large color="primary" class="btn" (click)="phoneOrder()"><b>Order On Phone</b>
          </button>
          <button ion-button large color="light" class="btn1" outline (click)="internetCheck()"><b>Refresh</b>
          </button>
      </div>
  </div>
</ion-content>