<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="my-password">
  <form [formGroup]="passwordForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label floating>Old Password</ion-label>
            <ion-input type="password" class="form-control" value="" formControlName="oldpassword" id="oldpassword">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>New Password</ion-label>
            <ion-input type="password" class="form-control" value="" formControlName="newpassword" id="newpassword">
            </ion-input>
          </ion-item>
          <p *ngIf="!passwordForm.controls.newpassword.valid && passwordForm.controls.newpassword.touched ">
            <small class="up">
              <strong>
                <i>
                  Password Must Contain atleast 6 Char
                </i></strong>
            </small>
          </p>
          <ion-item>
            <ion-label floating>Re-Enter Password</ion-label>
            <ion-input type="password" class="form-control" value="" formControlName="repassword" id="repassword">
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button type="submit" [disabled]="!passwordForm.valid" shape="round" expand="full">Change Password</ion-button>
  </ion-toolbar>
</ion-footer>