<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{headerName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="quickOrderFn()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="product-sub-category">
  <ion-item
    *ngFor="let catNames of catName "
    (click)="subcategoryName(catNames);"
  >
    <ion-card>
      <ion-row>
        <ion-col> <img src="{{catNames.image}}" /> </ion-col>
        <ion-col class="text-align">{{catNames.sub_category_name}}</ion-col>
      </ion-row>
    </ion-card>
  </ion-item>
</ion-content>
