page-search-products{
    .imagecategory{
    width:46%;
    margin-top: -5px;
    
  }
  }
  .qntyColor {
    margin-bottom: 20px;
    background-color: red;
  }
  .textMsgProd {
    text-align: center;
  }
  ion-row ion-col[width-80] .item-md {
    padding-left: 0px;
  }
  .products {
    h2 {
      font-weight: bold;
      font-size: 15px;
    }
    h6 {
      font-size: 12px;
      margin-top: -8px;
      color: gray;
    }
    ion-icon {
      //font-size: 40px;
      float: right;
    }
  
    ion-select {
      width: 100%;
    }
    .borderr {
      border-bottom: 1px solid #bfbcbc;
      margin-bottom: 8px;
      .item-md.item-block .item-inner {
        border: 1px solid #bfbcbc;
        font-size: 13px;
      }
  
      .item-ios.item-block .item-inner {
        border: 1px solid #bfbcbc;
        font-size: 13px;
      }
      .item-label-stacked .select-ios, .item-label-floating .select-ios {
        padding-top: 0px;
        padding-bottom: 2px;
      }
  
      .item-label-stacked .select-md, .item-label-floating .select-md {
        padding-top: 0px;
        padding-bottom: 2px;
      }
  
      .item-block {
        min-height: 3.4rem;
      }
    }
  
    .image_div {
      width: 30%;
      float: left;
      img {
        margin-top: 0px !important;
      }
    }
    .detail_div {
      width: 70%;
      float: left;
      margin-top: -13px;
  
      .item-md.item-block .item-inner {
        border: 1px solid #bfbcbc;
        font-size: 13px;
      }
  
      .item-ios.item-block .item-inner {
        border: 1px solid #bfbcbc;
        font-size: 13px;
      }
      .item-label-stacked .select-ios, .item-label-floating .select-ios {
        padding-top: 0px;
        padding-bottom: 2px;
      }
  
      .item-label-stacked .select-md, .item-label-floating .select-md {
        padding-top: 0px;
        padding-bottom: 2px;
      }
  
      .item-block {
        min-height: 3.4rem;
      }
  
      .discount {
        text-decoration: line-through;
      }
  
      .options_margin {
        margin-top: -7px;
      }
    }
    .margin_last_row {
      margin-top: -7px !important;
    }
  
    .options_selectseller {
      padding-top: 15px;
      margin-left: -171px;
    }
  
    .icon_heart_red {
      color: #537fc5;
    }
    .icon_heart {
      color: #bdbdbd;
    }
    .heart {
      font-size: 30px;
    }
    .cart {
      font-size: 40px;
      color: #15a033;
    }
  
    .icon_cart {
      color: #15a033;
      margin-top: 15px;
    }
  
    .icon_cart_color {
      color: #d43281;
      margin-top: 15px;
    }
  }
  
  ion-toolbar.toolbar.toolbar-ios {
    padding: 0px;
    min-height: 0px;
  }
  
  ion-toolbar.toolbar.toolbar-md {
    padding: 0px;
    min-height: 0px;
  }
  
  ion-col[width-50].first_col {
    color: white;
    background-color: #387ef5;
  }
  
  ion-col[width-50].second_col {
    color: white;
    background-color: orange;
  }
  
  ion-col[width-33], ion-col[width-34] {
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    max-height: 70px;
  }
  
  .toast-md .toast-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    display: block;
    margin: auto;
    width: 85%;
    max-width: 700px;
    border-radius: 35px;
    background: gray;
    /* color: black; */
  }
  .form-search {
    // min-width: 80%;
  }
  
  .toast-md .toast-message {
    padding: 19px 16px 17px;
    font-size: 1.5rem;
    /* color: #fff; */
    text-align: center;
  }
  .searchproducts {
    margin-left: 150px;
    margin-top: -3px;
  }
  .smallcount{
  color: blue;
  }
  .divimageflag{
        margin-left: -10px;
      margin-right: -57px;
  }