
<ion-header>
  <ion-nav color="primary">
      <ion-title>Privacy Policy</ion-title>
  </ion-nav>
</ion-header>

<ion-content padding class="privacy-policy">
  <ion-item no-lines text-wrap>
      "Auto Parts Recognizes the importance of maintaining your privacy.We value our relationship with you,and we appreciate the trust you show in providing information t us.Therefore,it is of utmost importance to us to explain how we collect,use,and prootect customer information."
  </ion-item>

  <ion-item no-lines text-wrap>
      "This is designed to tell you how we collect and use personal information(as defined below) so you can make an informed decision about using the Site.Please take note of this statement before using Auto Parts or submitting any personal information to us."
  </ion-item>

  <ion-item no-lines text-wrap>
      "We reserve the right to change the provisions of this Privacy Policy at any time. We will notify you of these changes by posting a revised Privacy Policy on Auto Parts and Indicating on the Privacy Policy the date it was last updated. Your use of Auto Parts and indicating on the Privacy Policy the date itwas last updated.Your use of Auto Parts following the posting of such changes or revised statement shall constitute your consent to any such changes."
  </ion-item>
</ion-content>