page-forgotpassword {
    ion-header {
      background-color: blue;
    }
    .button-round-ios {
      height: 10px;
    }
    .button-round-md {
      height: 10px;
    }
    .tageinforgot {
      color: gray;
    }
  }
  