<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Reset Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="email">
    <ion-item *ngIf="emailButton1">
      <ion-label position="stacked">Email/Mobile</ion-label>
      <ion-input type="text" [(ngModel)]="loginId"></ion-input>
    </ion-item>
    <ion-button (click)="genHash()" *ngIf="emailButton1" expand="block">
      Send OTP
    </ion-button>
  </div>
  <div *ngIf="emailButton2">
    <h6 *ngIf="emailButton2" class="tageinforgot">
      We are Unable to read SMS, Please enter OTP here
    </h6>
    <ion-item *ngIf="emailButton2">
      <ion-label position="stacked">Enter OTP</ion-label>
      <ion-input type="text" [(ngModel)]="otp"></ion-input>
    </ion-item>
    <ion-row *ngIf="emailButton2">
      <ion-col>
        <ion-button (click)="generateOTP();" expand="block"
          >Resend OTP</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          (click)="validateOTP();"
          *ngIf="emailButton2"
          expand="block"
        >
          Validate OTP
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="secondDiv">
    <ion-item>
      <ion-label position="stacked"> New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newpassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="conformPassword"></ion-input>
    </ion-item>
    <ion-button (click)="changePassword();" expand="block"
      >CHANGE PASSWORD</ion-button
    >
  </div>
</ion-content>
