<ion-header>
  <ion-toolbar>
    <ion-nav color="primary">
      <ion-title>{{categoryname}}</ion-title>
      <ion-buttons end>
        <button ion-button (click)="cartFn();">
          <ion-icon name="cart"></ion-icon>
          <div class="qntyColor">{{cartCount}}</div>
        </button>
      </ion-buttons>
    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content padding class="products">
  <div class="borderr" *ngFor=" let category of catprodArray; let idx = index">
    <ion-card>
      <div *ngIf="category.product_id != 0">
        <ion-row>
          <ion-col *ngIf="category.image_flag != 0" class="divimageflag">
            <!--<img class ="imagecategory" src = {{category.image}} imageViewer="OTHER_IMAGE_URL" />-->
            <!--replace the below image with {{category.image}} -->
            <img
              class="imagecategory"
              src="{{category.image}}"
              (click)="imageview(category.image,category.name)"
            />
          </ion-col>

          <ion-col>
            <h2>{{category.name}}</h2>
            <h6>{{category.model}}</h6>
          </ion-col>
          <ion-col>
            <div
              [ngClass]="showheartIcon[idx].wishlist_check == 1 ? 'icon_heart_red':'icon_heart'"
            >
              <ion-icon
                name="heart"
                (click)="setWishlist(category, $index);"
                class="heart"
              ></ion-icon>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="options_margin">
          <ion-col><ion-label floating>sellers</ion-label></ion-col>
          <ion-col>
            <div class="options_height" *ngIf="category?.option1.length >1 ">
              <ion-item>
                <ion-select
                  [interfaceOptions]="selectOptions"
                  interface="alert"
                  placeholder="sellers"
                >
                  <ion-select-option
                    [value]="item"
                    *ngFor=" let item of category?.option1; let subidx = index "
                    >{{item.name}} -&nbsp;&nbsp;<span
                      >{{item.price | currency:'INR':true}}</span
                    >
                  </ion-select-option>
                </ion-select> </ion-item
              ><small class="smallcount"
                >&nbsp;&nbsp;{{category.sellercount-1}} more seller</small
              >
            </div>

            <div class="options_height" *ngIf="category?.option1.length == 1">
              {{prods[idx].name}}
            </div>
          </ion-col>
          <!--<div *ngIf="category?.option1.length > 1"></div>-->
        </ion-row>

        <ion-row class="options_margin">
          <ion-col *ngIf="prods[idx].option2value.length > 0">
            <ion-label>Size:</ion-label>
          </ion-col>
          <ion-col class="options_select">
            <div
              class="options_height"
              *ngIf="prods[idx].option2value.length > 1"
            >
              <ion-item>
                <ion-label floating></ion-label>

                <ion-select
                  [interfaceOptions]="selectOptions"
                  (ngModel)="place1"
                  (ionChange)="option1Fn($event, category.product_id);"
                >
                  <ion-select-option
                    [value]="temp"
                    *ngFor=" let temp of prods[idx].option2value;let subidx = index "
                  >
                    <span><p>{{temp.name}}</p></span>
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <div
              class="options_height"
              *ngIf="prods[idx].option2value.length ==1"
            >
              {{prods[idx].option2value[0].name}}
            </div>
            <!--</div>-->
          </ion-col>
        </ion-row>

        <ion-row class="margin_last_row">
          <ion-col>
            <div class="price_main">
              <p class="discount_amt" *ngIf="prods[idx].salesprice != 0">
                {{prods[idx].salesprice | currency:'INR':true}}&nbsp;&nbsp;
              </p>
              <p class="price">{{prods[idx].price | currency:'INR':true}}</p>
            </div>
          </ion-col>

          <ion-col>
            <div *ngIf="prods[idx].quantity > 0" class="quantity1">
              <ion-input
                class="quantityinput"
                type="number"
                value=""
                [(ngModel)]="prods[idx].requestedQty"
              ></ion-input>
            </div>
          </ion-col>

          <ion-col>
            <div class="icon_cart" *ngIf="prods[idx].quantity > 0">
              <ion-icon
                name="cart"
                class="cart"
                (click)="addToCart(category, prods[idx])"
              ></ion-icon>
            </div>

            <div *ngIf="prods[idx].quantity <= 0" class="icon_cart_color">
              <div class="outofStack">out of stock</div>
              <br />
            </div>
          </ion-col>
        </ion-row>
        <div class="smallcount">{{prods[idx].sellerdiscount}}</div>
      </div>
    </ion-card>
  </div>

  <div *ngIf="categorycount">
    <h4 class="noproductfound">No product found</h4>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="showTextMsg" class="textMsgProd">That's All</div>
  <div padding></div>
  <div padding></div>
</ion-content>
