<ion-header>
  <ion-toolbar>
    <ion-nav color="primary">
      <ion-title>Terms Of Use</ion-title>
  </ion-nav>  
</ion-toolbar>
</ion-header>


<ion-content padding class="terms-of-use">

  <ion-list>
      <p>Auto Parts Terms Of Use:-</p>

      <ion-item no-lines text-wrap>
          "Except as Otherwise expression stated with respect to our products all contents of the site are offered on an as is basis without any warranty whatsever either express or implied."
      </ion-item>

      <p>Copyright and Trademark:-</p>

      <ion-item no-lines text-wrap>
          "Unless otherwise noted, all materials on this site are protected as the copyrights,trade dress,trademarks and/or other intellectual properties owned by Auto Parts."
      </ion-item>

  </ion-list>
</ion-content>