<ion-card>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        About-us
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-card>

<ion-content padding class="about-us">
  <ion-list>
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>About Auto Parts</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        "It is one of the leading online car and truck parts and accessories
        stores. We have a complete selection of high-q parts for a wide range of
        vehicle makes and modules - offered at the lowest prices.We also take
        the lead when it comes to hassle-free online with customer service
        availability 24 hrs a day,seven days a week."
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Large Inventory Of Parts</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Than one million parts and accessories for different vehicles.These are
        available in stock in our warehouses,which are strategically located
        across the United States.All parts are ready to ship straight from the
        warehouses right to your garge,so you don't have to wait long after you
        place your order.
      </ion-card-content>
    </ion-card>
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Low Prices On All Parts</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Because we conduct our business online and because we ship direct from
        our warehouses,we don't have to charge you for expenses on office
        maintainance and store personnel.This way,we pass the savings on to
        you.Our rates are among the lowest online,so much so that we are
        confident enough to offer a low price guarantee on all our products.If
        you find a similar product that's priced.
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>