.checkout {
    ion-item {
      color: blue;
      font-size: 16px;
    }
  
    h6 {
      color: gray;
      font-size: 10px;
    }
  
    h3 {
      color: black;
      font-size: 14px;
    }
  
    ion-icon {
      float: right;
    }
  }
  